@import 'tailwindcss';

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    min-width: 320px;
    background: #f8fafc;
    font-family: inter, system-ui, sans-serif;
}